.wrapper{
    height: 100vh;
}
.wrapper > div{
    display: inline-block;
    width: 49%;
    vertical-align:top;
    height: 100vh;
}

.setting{
    background-color: #e5e6e6
}

#rowCount{
 
    /*display: none;*/
}

.container_custom{
    margin: 80px 80px 80px 80px;
}


#title_custom{
    font: 20px arial, sans-serif;
    padding: 0 0 40px 0 ;
    margin: 0 0 40px 0 ;
    margin: 0 0 40px 0 ;
}

#submit_custom {
    width: 78%;
    background-color: #af5db5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
}

#table{
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 50%;
}

#pmbutton {
    width: 50px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 5px;
     background-color: #afafaf;
}

input[type=text] {
    width: 20%;
    border: 1px;
    color: #242424;
    padding: 10px 10px;
    margin: 0px 0px;
    cursor: pointer;
}

td, th{
    text-align: center;
    
}

.sample{
    
    text-align: left;
    margin: 80px 80px 80px 80px;
    width: 80%;
}


.result{
    
    background-color: #e5e6e6;
}