{% load staticfiles %}
<!-- "! + tab" . don't forget!!!!! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <title>Document</title>
    
</head>
<body>
    <div class= "wrapper">
       <!--  setting window -->
        <div class="setting">
            <!--  setting table -->
            <!--
            <form action="makeJsonList" method="post" id="form">{% csrf_token %}
            -->
            
            <div class="container_custom">
                <span id="title_custom">Json generator<br/><br/></span>
                <input type="hidden" id="rowCount" name="rowCount"/>
                <table id="table" class="table table-hover"></table>
                <button id="submit_custom" onclick="submitB()">submit</button>
            </div>
            <!--
            </form>
            -->
        </div>
        <!--  result window -->
        <div class="result">
           <div class="container_custom">
                <span id="title_custom">Result sample<br/><br/></span>
                <div class="sample"></div>
            </div>
        </div>
    </div>
    
    <!-- javascript -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<script src="{% static 'js/main-Copy1.js' %}"></script>
</body>
</html>